

.game-box{
  height:130px;
  background :rgb(255, 255, 255);
  color:black;
  font-size:160px;
  display:flex;
  align-items:center;
  justify-content:center;
  border: 1px solid #141414;
  border-radius:5px;
  cursor: pointer;
}

.game-box:hover{
  background:rgb(250, 242, 242);
}

.board{

  display : grid;
  grid-template-columns: repeat(3,1fr);
  max-width:500px;
}

.Game{

margin-left: 30%;

}

.Game >h1{
  align-self: center;
  justify-content: center;
  margin-left: 16%;
}

.RestartButton{
  Padding-top:10px;
  padding-left:21%;
}


@media only screen and (max-width:640px){
  .Game{
    justify-content:center;
    margin:5%;
    
  }
}